* {
  box-sizing: border-box;
}

.body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#loading{
    width:100%;
  height:100%;
  background:white url("./images/loader.gif") center;
    z-index:99999999999;
  position:fixed;
  background-repeat:no-repeat;
  
}

.content1{
    background-image: url('./images/first.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
  background-attachment: fixed !important;
   }
   .heading1{
      font-size: 50px;
      font-weight: 900;
      padding-top: 100px;
   }
   .heading2{
    margin-top: 120px;
    /*background: linear-gradient(to right, red, purple);
    border-width: 10px;
    border-radius: 5px;*/

   padding: 1rem;
   background: linear-gradient(to right, red, purple);
   padding: 20px;
   border-radius: 40px;
   }
  .lol{
    background: white;
    color: black;
    padding: 2rem;
    background-image: url(./images/playbtn1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: auto;
  }
  .card-img1{
    height: 100% !important;
  }
  .card-details{
    font-size: 16px;
    font-weight: 600;
  }
  .card-heading{
    font-size: 22px;
    font-weight: 900;
  }
  .card-deals{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;  
    box-shadow: 3px 6px #888888;
    cursor: pointer;
  }
  .card-deals:hover{
    box-shadow: none;
  }


.content2{
   background-image: url('images/img2.png');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   background-attachment: fixed !important;
  
}
  .heading3{
     font-size: 32px;
     font-weight: 900;
  }
  .heading4{
    font-size: 22px;
    
  }
  .heading5{
      font-size: 35px;
      font-weight: 900;
      color: purple;
   }
   .heading6{
      font-size: 30px;
      font-weight: 900;
      color: purple;
   }
   .card-deck .card{
      border-style: none !important;
      background-color: transparent;
      cursor: pointer;
   }
   .img-fluid{
    width: 300px !important; 
    height: 300px !important;
  }

.content3{

  background-image: url('./images/img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  z-index: 10 !important;
  overflow-x: hidden;
}

.lol1{
    background: white;
    color: black;
    padding: 2rem;
    background-image: url(./images/playbtn1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: auto;
  }
  .card-deals1{
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 6px #888888;
  }
  .card-deals1:hover{
    box-shadow: none;
  }
  .card-details11{
    font-size: 14.2px;
    font-weight: 900;
    color: purple;
    text-align: center;
  }

  .content4{

  background-image: url('./images/img5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  overflow: hidden;
  z-index: 10 !important;
}
.content5,.content9{

  background-image: url('./images/img6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed !important;
  z-index: 10 !important;
}

.content7{

  background-image: url('./images/Background-website-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  z-index: 10 !important;
  overflow: hidden;
}

.content8{

  background-image: url('./images/img7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  z-index: 10 !important;
  overflow: hidden;
}

.content10{

  background-image: url('./images/img8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  z-index: 10 !important;
  overflow: hidden;
}

.book-card{
  cursor: pointer;
}
.shivani{
  cursor: pointer;
}


 @media only screen and (max-width: 990px) {
  .heading3{
    font-size: 25px;
  }
  .heading4{
    font-size: 19px;
  }
}
@media (min-width: 768px){
  .book-card{
    margin-top: 30px;
  }
}
@media (min-width: 576px){
  .book-card{
    margin-top: 30px;
  }
}
.book-card{
  margin-top: 20px;
}

@media only screen and (max-device-width: 1024px) {
  .content1, .content2{
    background-attachment: scroll;
  }
}
@media (min-width: 576px){
  .content1-img{
    margin-top: 20px;
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}